archives/
bindebug/
binfinal/
binrelease/
output/
drivers/
platforms/
tools/
*.aps
*.cache
*.config
*.db
*.dgml
*.dll
*.enc
*.exe
*.exp
BuildLog.htm
*.i
*.idb
*.ilk
*.iobj
*.ipch
*.ipdb
*.lastbuildstate
*.lib
*.log
*.ncb
*.obj
*.opendb
*.opensdf
*.pch
*.pdb
*.psess
*.res
*.sdf
*.suo
*.swp
*.swo
*.swn
*.tlog
*.tmp
*.ubj
*.un~
*.unsuccessfulbuild
*.user
